#leftIcon {
  color: white;
  font-size: 20px;
  margin-top: 10%;
  width: 30px;
  height: 30px;

  position: absolute;
  margin-left: 30%;
}

#rightIcon {
  color: white;
  font-size: 20px;
  margin-top: -11%;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-right: 52%;
}

.sliderImages {
  border: 1px solid none;
  object-fit: contain;
  overflow: hidden;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-left: 30%;
  margin-top: 10%;
}
.imageclass {
  display: block;
}

